{erl_opts, [
    debug_info
    ,{parse_transform, lager_transform}
    ,{lager_truncation_size, 1024}
    ,{d, debug}
]}.

{deps, [
    {ibrowse, {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.4.0"}}},
    {jsonrpc2, {git, "https://github.com/zuiderkwast/jsonrpc2-erlang.git", {tag, "0.9.2"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
    {mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v3.2.0"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.2"}}},
    {recon_web, {git, "https://github.com/gulige/recon_web.git", {branch, "master"}}}
]}.

{relx, [{release, { exchange_wallet, "0.1.0" },
         [exchange_common,
          exchange_wallet,
          sasl],
         [{sys_config, "./config/sys_wallet.config"},
          {vm_args, "./config/vm_wallet.args"}]},

        {release, { exchange_sign, "0.1.0" },
         [exchange_common,
          exchange_sign,
          sasl],
         [{sys_config, "./config/sys_sign.config"},
          {vm_args, "./config/vm_sign.args"}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

