[
  { exchange_sign, [
      {jsonrpc_btm, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"192.168.1.150:9888">>},

          {rpcuser_pub, <<"">>},
          {rpcpassword_pub, <<"">>},
          {rpchost_pub, <<"192.168.1.150:9888">>}
      ]},
      {mg_pool, {
          ["127.0.0.1:27017"],
          [{name, {local, mgp}}, {pool_size, 1}, {max_overflow, 5}],
          [{database, <<"exchange_wallet">>}]}
      }
  ]},

  {lager, [
      {colored, true},
      {log_root, "./log"},
      {crash_log, "crash.log"},
      {handlers, [
          {lager_console_backend, info},
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}
   ]},

  {recon_web, [
      {port, 50001}
  ]}
].
