[
  { exchange_sign, [
      {jsonrpc_ipc, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"172.16.10.172:18332">>},

          {rpcuser_pub, <<"game">>},
          {rpcpassword_pub, <<"xxx">>},
          {rpchost_pub, <<"172.16.10.172:18332">>}
      ]},
      {jsonrpc_act, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"172.16.10.172:8299/rpc">>},

          {rpcuser_pub, <<"game">>},
          {rpcpassword_pub, <<"xxx">>},
          {rpchost_pub, <<"172.16.10.172:8299/rpc">>}
      ]},
      {jsonrpc_asch, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"192.168.1.105:8192">>},

          {rpcuser_pub, <<"">>},
          {rpcpassword_pub, <<"">>},
          {rpchost_pub, <<"192.168.1.105:8192">>}
      ]},
      {jsonrpc_asch@3u, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"47.75.158.207:8192">>},
          {http_sign_host, <<"127.0.0.1:54321">>}
      ]},
      {jsonrpc_ttt, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"172.16.10.172:6552">>}
      ]},
      {jsonrpc_neo, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"172.16.10.172:20332">>}
      ]},
      {jsonrpc_ssc, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"192.168.1.150:8080/rpc">>},

          {rpcuser_pub, <<"game">>},
          {rpcpassword_pub, <<"xxx">>},
          {rpchost_pub, <<"192.168.1.150:8080/rpc">>}
      ]},
      {jsonrpc_eos, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"192.168.1.105:8889">>},

          {rpcuser_pub, <<"">>},
          {rpcpassword_pub, <<"">>},
          {rpchost_pub, <<"192.168.1.105:8888">>}
      ]},
      {jsonrpc_btm, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"192.168.1.220:9888">>},

          {rpcuser_pub, <<"">>},
          {rpcpassword_pub, <<"">>},
          {rpchost_pub, <<"192.168.1.220:9888">>}
      ]},
      {mg_pool, {
          ["127.0.0.1:27017"],
          [{name, {local, mgp}}, {pool_size, 1}, {max_overflow, 5}],
          [{database, <<"exchange_wallet">>}]}
      }
  ]},

  {lager, [
      {colored, true},
      {log_root, "./log"},
      {crash_log, "crash.log"},
      {handlers, [
          {lager_console_backend, info},
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}
   ]},

  {recon_web, [
      {port, 50001}
  ]}
].
