[
  { exchange_wallet, [
      {jsonrpc_ipc, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"172.16.10.172:18332">>}
      ]},
      {jsonrpc_act, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"172.16.10.172:8299/rpc">>}
      ]},
      {jsonrpc_asch, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"192.168.1.105:8192">>}
      ]},
      {jsonrpc_asch@3u, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"47.75.158.207:8192">>}
      ]},
      {jsonrpc_ttt, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"172.16.10.172:6552">>}
      ]},
      {jsonrpc_neo, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"172.16.10.172:20332">>}
      ]},
      {jsonrpc_ssc, [
          {rpcuser, <<"game">>},
          {rpcpassword, <<"xxx">>},
          {rpchost, <<"192.168.1.150:8080/rpc">>}
      ]},
      {jsonrpc_eos, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"192.168.1.150:8888">>}
      ]},
      {jsonrpc_btm, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"192.168.1.150:9888">>}
      ]}
  ]},

  {lager, [
      {colored, true},
      {log_root, "./log"},
      {crash_log, "crash.log"},
      {handlers, [
          {lager_console_backend, info},
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}
   ]},

  {ibrowse, [
      {default_max_sessions, 200},
      {default_max_pipeline_size, 10},
      {default_max_attempts, 3}
  ]},

  {recon_web, [
      {port, 50000}
  ]}
].
