[
  { exchange_wallet, [
      {jsonrpc_ttt, [
          {rpcuser, <<"">>},
          {rpcpassword, <<"">>},
          {rpchost, <<"172.16.10.157:6552">>}
      ]}
  ]},

  {lager, [
      {colored, true},
      {log_root, "./log"},
      {crash_log, "crash.log"},
      {handlers, [
          {lager_console_backend, info},
          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}
   ]},

  {ibrowse, [
      {default_max_sessions, 200},
      {default_max_pipeline_size, 10},
      {default_max_attempts, 3}
  ]},

  {recon_web, [
      {port, 50000}
  ]}
].
